body{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    border: .5rem solid mediumvioletred;
    display: grid;
    grid-template-rows: 5rem 15rem 10rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    gap: 30px;
}

.sidebar .logo{
    border: .5rem solid skyblue;
}

.sidebar .pages{
    border: .5rem solid lightgreen;
}

.sidebar .settings{
    border: .5rem solid mediumpurple;
}

.header{
    border: .5rem solid turquoise;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.header > ul {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
}

.header > * {
    border: .5rem solid tomato;
}

.main{
    border: .5rem solid coral;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.projects {
    display: grid;
    grid-row: span 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr 1fr 1fr 1fr;
}

.projects > h2 {
    grid-column: span 2;
}

.card {
    border: .5rem solid greenyellow;
    display: grid;
    grid-row: span 1;
    grid-column: span 1;
}

.card > ul {
    display: grid;
    grid-auto-flow: column;
}

.trending {
    grid-column: 2;
    grid-row: 2 / 3;
}

.announcements{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.projects, 
.announcements,
.trending {
    border: .5rem solid gold;
}